In [1]:

# Q1  Q1. Explain with an example each when to use a for loop and a while loop.

# The major difference between for loop and the while loop is that for loop is used when the number of iterations is known,
# whereas execution is done in the while loop until the statement in the program is proved wrong.


# While loop
n = 0
while n < 10: # while n is less than 10,  Here it checks the condition from above value of n then proceeds further
    print(n) # print out the value of n 
    n += 1   # Changes the value to n+1 and loop again go to check at above condition
             # it is running till n<10 means it runs till statement proves wrong
    
print("     ")   
# for loop
for i in range(10): # here it iterates till range as range is 
    print(i)

0
1
2
3
4
5
6
7
8
9

0
1
2
3
4
5
6
7
8
9

In [2]:
# Q2 Write a python program to print the sum and product of the first 10 natural numbers using for
#and while loop.

#with while loop

num=10
product=1
sum=0
while(num > 0):
    sum += num
    product=product * num
    num -= 1
print("The sum is", sum)
print("product is " , product)

The sum is 55
product is  3628800

In [4]:
#Q3. Create a python program to compute the electricity bill for a household.
#The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per
#unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will
#be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.
#You are required to take the units of electricity consumed in a month from the user as input.
#Your program must pass this test case: when the unit of electricity consumed by the user in a month is
#310, the total electricity bill should be 2250.
unit=int(input("Input monthly used unit to know the charge"))
while (unit>0):
    if unit<=100:
        print(unit*4.5)
        break
    elif unit >100 and unit <=200:
        print((100*4.5 )+ (unit-100)*6)
        break
    
    elif unit >200 and unit <=300:
        print((100*4.5)+(100*6)+(unit-200)*10)
        break  
    elif unit >300:
        print("Total Electricity bill is ",(100*4.5)+(100*6)+(100*10)+(unit-300)*20)
        break

Input monthly used unit to know the charge 252

1570.0

In [5]:
#Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
#number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
#that list.


# with for loop
l=[]
l2=[]
for i in range(1,101):
    l.append(i)
for i in l:
    print(f"Cube of {i} is {i*i*i} ")
    if (i*i*i)%4==0 or (i*i*i)%5==0:
        l2.append(i)
print("New list =",l2)

Cube of 1 is 1
Cube of 2 is 8
Cube of 3 is 27
Cube of 4 is 64
Cube of 5 is 125
Cube of 6 is 216
Cube of 7 is 343
Cube of 8 is 512
Cube of 9 is 729
Cube of 10 is 1000
Cube of 11 is 1331
Cube of 12 is 1728
Cube of 13 is 2197
Cube of 14 is 2744
Cube of 15 is 3375
Cube of 16 is 4096
Cube of 17 is 4913
Cube of 18 is 5832
Cube of 19 is 6859
Cube of 20 is 8000
Cube of 21 is 9261
Cube of 22 is 10648
Cube of 23 is 12167
Cube of 24 is 13824
Cube of 25 is 15625
Cube of 26 is 17576
Cube of 27 is 19683
Cube of 28 is 21952
Cube of 29 is 24389
Cube of 30 is 27000
Cube of 31 is 29791
Cube of 32 is 32768
Cube of 33 is 35937
Cube of 34 is 39304
Cube of 35 is 42875
Cube of 36 is 46656
Cube of 37 is 50653
Cube of 38 is 54872
Cube of 39 is 59319
Cube of 40 is 64000
Cube of 41 is 68921
Cube of 42 is 74088
Cube of 43 is 79507
Cube of 44 is 85184
Cube of 45 is 91125
Cube of 46 is 97336
Cube of 47 is 103823
Cube of 48 is 110592
Cube of 49 is 117649
Cube of 50 is 125000
Cube of 51 is 132651
Cube of 52 is 140608
Cube of 53 is 148877
Cube of 54 is 157464
Cube of 55 is 166375
Cube of 56 is 175616
Cube of 57 is 185193
Cube of 58 is 195112
Cube of 59 is 205379
Cube of 60 is 216000
Cube of 61 is 226981
Cube of 62 is 238328
Cube of 63 is 250047
Cube of 64 is 262144
Cube of 65 is 274625
Cube of 66 is 287496
Cube of 67 is 300763
Cube of 68 is 314432
Cube of 69 is 328509
Cube of 70 is 343000
Cube of 71 is 357911
Cube of 72 is 373248
Cube of 73 is 389017
Cube of 74 is 405224
Cube of 75 is 421875
Cube of 76 is 438976
Cube of 77 is 456533
Cube of 78 is 474552
Cube of 79 is 493039
Cube of 80 is 512000
Cube of 81 is 531441
Cube of 82 is 551368
Cube of 83 is 571787
Cube of 84 is 592704
Cube of 85 is 614125
Cube of 86 is 636056
Cube of 87 is 658503
Cube of 88 is 681472
Cube of 89 is 704969
Cube of 90 is 729000
Cube of 91 is 753571
Cube of 92 is 778688
Cube of 93 is 804357
Cube of 94 is 830584
Cube of 95 is 857375
Cube of 96 is 884736
Cube of 97 is 912673
Cube of 98 is 941192
Cube of 99 is 970299
Cube of 100 is 1000000
New list = [2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

In [6]:
#Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
#number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
#that list.


# with while loop
i=1
l=[]
l2=[]
while (i<101):
    l.append(i)
    i=i+1
n=0
while ( n< len(l)):
    print(f"cube of {l[n]} is = ",(l[n]*l[n]*l[n]))
    n=n+1
    if (n*n*n)%4==0 or (n*n*n)%5==0:
        l2.append(n)
print("New list =",l2)

cube of 1 is =  1
cube of 2 is =  8
cube of 3 is =  27
cube of 4 is =  64
cube of 5 is =  125
cube of 6 is =  216
cube of 7 is =  343
cube of 8 is =  512
cube of 9 is =  729
cube of 10 is =  1000
cube of 11 is =  1331
cube of 12 is =  1728
cube of 13 is =  2197
cube of 14 is =  2744
cube of 15 is =  3375
cube of 16 is =  4096
cube of 17 is =  4913
cube of 18 is =  5832
cube of 19 is =  6859
cube of 20 is =  8000
cube of 21 is =  9261
cube of 22 is =  10648
cube of 23 is =  12167
cube of 24 is =  13824
cube of 25 is =  15625
cube of 26 is =  17576
cube of 27 is =  19683
cube of 28 is =  21952
cube of 29 is =  24389
cube of 30 is =  27000
cube of 31 is =  29791
cube of 32 is =  32768
cube of 33 is =  35937
cube of 34 is =  39304
cube of 35 is =  42875
cube of 36 is =  46656
cube of 37 is =  50653
cube of 38 is =  54872
cube of 39 is =  59319
cube of 40 is =  64000
cube of 41 is =  68921
cube of 42 is =  74088
cube of 43 is =  79507
cube of 44 is =  85184
cube of 45 is =  91125
cube of 46 is =  97336
cube of 47 is =  103823
cube of 48 is =  110592
cube of 49 is =  117649
cube of 50 is =  125000
cube of 51 is =  132651
cube of 52 is =  140608
cube of 53 is =  148877
cube of 54 is =  157464
cube of 55 is =  166375
cube of 56 is =  175616
cube of 57 is =  185193
cube of 58 is =  195112
cube of 59 is =  205379
cube of 60 is =  216000
cube of 61 is =  226981
cube of 62 is =  238328
cube of 63 is =  250047
cube of 64 is =  262144
cube of 65 is =  274625
cube of 66 is =  287496
cube of 67 is =  300763
cube of 68 is =  314432
cube of 69 is =  328509
cube of 70 is =  343000
cube of 71 is =  357911
cube of 72 is =  373248
cube of 73 is =  389017
cube of 74 is =  405224
cube of 75 is =  421875
cube of 76 is =  438976
cube of 77 is =  456533
cube of 78 is =  474552
cube of 79 is =  493039
cube of 80 is =  512000
cube of 81 is =  531441
cube of 82 is =  551368
cube of 83 is =  571787
cube of 84 is =  592704
cube of 85 is =  614125
cube of 86 is =  636056
cube of 87 is =  658503
cube of 88 is =  681472
cube of 89 is =  704969
cube of 90 is =  729000
cube of 91 is =  753571
cube of 92 is =  778688
cube of 93 is =  804357
cube of 94 is =  830584
cube of 95 is =  857375
cube of 96 is =  884736
cube of 97 is =  912673
cube of 98 is =  941192
cube of 99 is =  970299
cube of 100 is =  1000000
New list = [2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

In [7]:
#Write a program to filter count vowels in the below-given string.
#string = "I want to become a data scientist"

string = "I want to become a data scientist"
count=0
for i in string:
    if i == "a" or i== "A" or i=="e" or i== "E" or i=="i" or i=="I" or i=="o" or i =="O" or i =="u" or i=="U":
        count=count + 1
print("No of vowels = ",count)

No of vowels =  12